################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FSL.BlazorCookies/.vs/FSL.BlazorCookies/v16
/FSL.BlazorCookies/obj
/FSL.BlazorCookies/bin/Debug/netcoreapp3.1
/FSL.BlazorCookies/bin/Debug/netcoreapp3.0
/FSL.BlazorCookies/.vs/FSL.BlazorCookies/DesignTimeBuild
*.user
