<AuthorizeView>
    <Authorized>
        <a href="#">Hello, @context.User.Identity.Name!</a>
        <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="logincontrol">Log in</a>
    </NotAuthorized>
</AuthorizeView>